

  <!-- Custom styles for this template -->

<main class="form-signin w-100 m-auto">
  
 <%=form_for @user do |f| %>
    <h1 class="h3 mb-3 fw-normal">Please Sign Up</h1>
        <div class="form-floating"> 
            
            <%= f.email_field :email, :class => 'form-control', :id =>"floatingInput", :placeholder =>"name@example.com"%>
            <%= f.label :email, :for => "floatingInput" %>
        </div>
        
        <div class="form-floating">
            
            <%= f.password_field :password, :class => 'form-control', :id => "floatingPassword", :placeholder => "Password"%>
            <%= f.label :password, :for => "floatingPassword" %>
        </div>

        <div class="confirm">
        <div class="form-floating", id="confirm">
            
            <%= f.password_field :password_confirmation, :class => 'form-control', :id => "floatingPassword", :placeholder => "Confirm Password"%>
            <%= f.label :password_confirmation, :for => "floatingPassword" %>
        </div>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        
        <div>
            <%= f.submit "Sign Up", :class => "w-100 btn btn-lg btn-primary" %>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    <% end %>
    
   
<% if @user.errors.any? %>
    <ol>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ol>
<% end %>

</main>  




           



 











