<h1> All countries </h1>

<%= link_to "New Country", new_country_path, :class => "nav-link" %>

<% @countries.each do |country| %>
    <p><%country.name %></p>

<div class="card">
  <h5 class="card-header">
  <% unless country.date.nil? %>
        <%= country.date.strftime '%A; %B %e, %Y' %>
        <% end %>
  </h5>
  <div class="card-body">
    <h5 class="card-title">
    <%= country.name %>
    </h5>

    <p class="card-text"><%= country.note %></p>
    <%= link_to "Start the journey", country, :class => "btn btn-primary" %>
  </div>
</div>

<% end %>