<h1><%= @country.name %></h1>

<ul>
    <li>Name: <%= @country.name %></li>
    <li>Date: <%= @country.date.strftime '%A, %B %e, %Y' unless @country.date.nil? %></li>
    <li>Note: <%= @country.note%></li>
</ul>

<% @country.cities.each do |city| %>
<p><%= city.name %></p>
<% end %>

<div class="controls">
    <%= link_to 'Edit country', edit_country_path(@country) %>
    <%= link_to 'Delete country', @country, :method => :delete, :data => {:confirm => 'Are you sure?'} %>
</div>