<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= @country.name %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <%= link_to "New City", new_city_path(:country_id=>@country.id), :class => "nav-link" %>
       <%= link_to "All Countries", countries_path, :class => "nav-link" %>
       <%= link_to 'Edit Country', edit_country_path(@country), :class => "nav-link" %>
       <%= link_to 'Delete Country', @country, :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => "nav-link" %>
      </div>
    </div>
  </div>
</nav>

<% @country.cities.each do |city| %>
    <p><%city.name %></p>

<div class="card">
  <h5 class="card-header">
  <% unless city.date.nil? %>
        <%= city.date.strftime '%A; %B %e, %Y' %>
        <% end %>
  </h5>
  <div class="card-body">
    <h5 class="card-title">
    <%= city.name %>
    </h5>
    <p class="card-text"><%= city.note %></p>
    <%= link_to "Start the journey", city_path(city), :class => "btn btn-primary" %>
  </div>
</div>

<% end %>



