<!doctype html>
<html lang="en" class="h-100">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Travel Diary</title>

 <link rel="canonical" href="assets/images/image1.jpg">
   
    
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="<%= "d-flex h-100 text-center text-bg-dark" if params[:action] =="home"%>">
    

<div class="container d-flex flex-column <%= "cover-container  w-100 h-100 p-3 mx-auto " if params[:action] =="home"%>">

  
  <%= yield %>

<footer class="mt-auto text-white-50">
<p>2022. Sydney - Australia</p>
</footer>


</div>
    
  </body>
</html>



