<!DOCTYPE html>
<html>
  <head>
    <title>TravelDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
  
    <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= link_to 'Travel Diary', root_path %>  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'Sign up', new_user_path %></a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'Sign in', login_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'All countries', countries_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'New country', new_country_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'All cities', cities_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <%= link_to 'New city', new_city_path %></a>
        </li>   
      </ul>
    </div>
  </nav>
</nav>

    <div class="container">
  
      <%= yield %>
    </div>

  </div>
  </body>
</html>
